@import "tailwindcss";

@layer base {
    h1,h2,h3,h4,h5,h6 {
        @apply font-semibold;
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    section {
        @apply flex-1;
    }

    progress::-webkit-progress-bar {
        @apply rounded-xl bg-gray-300;
    }

    progress::-webkit-progress-value {
        @apply bg-blue-500 rounded-xl;
    }

    button {
        @apply cursor-pointer;
    }
}

@layer components {
    .container-grafico {
        @apply text-center;
    }

}

::-webkit-scrollbar {
    @apply w-2 bg-white;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded;
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  --c: linear-gradient(#1b4e9b 0 0);
  --r1: radial-gradient(farthest-side at bottom,#1b4e9b 93%,#0000);
  --r2: radial-gradient(farthest-side at top   ,#1b4e9b 93%,#0000);
  background: 
    var(--c) ,var(--r1),var(--r2),
    var(--c) ,var(--r1),var(--r2),
    var(--c) ,var(--r1),var(--r2);
  background-repeat: no-repeat;
  animation: l2 1s infinite alternate;
}

@keyframes l2 {
  0%,25% {
    background-size: 8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(50% - 2px),0 calc(50% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 50% {
    background-size: 8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 75% {
    background-size: 8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 95%,100% {
    background-size: 8px 100%,8px 4px, 8px 4px,8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(0% - 2px),100% calc(100% + 2px);
 }
}

@keyframes openDrawer {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}       

@keyframes closeDrawer {
    to {
        transform: translateY(100%);
    }
}