@import "tailwindcss";

@layer base {
    h1,h2,h3,h4,h5,h6 {
        @apply font-semibold;
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    section {
        @apply flex-1;
    }

    progress::-webkit-progress-bar {
        @apply rounded-xl bg-gray-300;
    }

    progress::-webkit-progress-value {
        @apply bg-blue-500 rounded-xl;
    }

    button {
        @apply cursor-pointer;
    }
}

@layer components {
    .container-grafico {
        @apply text-center;
    }

}

::-webkit-scrollbar {
    @apply w-2 bg-white;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded;
}